<p>projects works!</p>
<p>education works!</p>
<form>
  <h1
    style="
      background-color: rgb(226, 192, 78);
      font-weight: 800;
      font-style: oblique;
      border-radius: 25px;
    "
  >
    Projects
  </h1>
  <div class="col-12" [formGroup]="UserInfo" (ngSubmit)="userdetail()">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <span *ngIf="ProjectName && ProjectName.invalid && ProjectName.touched"
          >please enter the valid College name</span
        >
        <div class="field col-12 md:col-6">
          <!-- <label htmlFor="firstname2">User Name</label> -->
          <input
            pInputText
            id="Name"
            type="text"
            placeholder="ProjectName"
            type="text"
            formControlName="ProjectName"
          />
        </div>
        <!-- Email -->
        <span
          *ngIf="ProjectStack && ProjectStack.invalid && ProjectStack.touched"
          >please enter the valid Project stack</span
        >
        <div class="field col-12 md:col-6">
          <!-- <label htmlFor="lastname2">Email</label> -->
          <input
            pInputText
            id="Degree"
            type="text"
            placeholder="ProjectStack "
            formControlName="ProjectStack"
          />
        </div>
        <!--  Address-->
        <span *ngIf="ProjectLink && ProjectLink.invalid && ProjectLink.touched"
          >please enter the valid ProjectLink</span
        >
        <div class="field col-12">
          <!-- <label htmlFor="address">Address</label> -->
          <input
            pInputTextarea
            id="address"
            rows="4"
            placeholder="ProjectLink"
            type="text"
            formControlName="ProjectLink"
          />
        </div>
        <!-- City -->
        <span>please Description separatted by semicolon ; </span>
        <div class="field col-12 md:col-6">
          <!-- <label htmlFor="city">City</label> -->
          <input
            pInputText
            id="city"
            type="text"
            placeholder="Description"
            type="text"
            formControlName="Description"
          />
        </div>
        <!-- zip code  -->

        <!--  -->

        <div class="button">
          <a
            style="
              margin-top: 10px;
              background-color: #28a745;
              color: white;
              border: none;
              border-radius: 4px;
              padding: 12px 20px;
              cursor: pointer;
              font-size: 16px;
              transition: background-color 0.3s ease;
            "
            label="Success"
            type="p-button"
            severity="success"
            label="submit"
            class="p-button-success"
            routerLink="/education"
            (click)="userdetail()"
            >Previous</a
          >
          <a
            style="
              margin-top: 10px;
              background-color: #28a745;
              color: white;
              border: none;
              border-radius: 4px;
              padding: 12px 20px;
              cursor: pointer;
              font-size: 16px;
              transition: background-color 0.3s ease;
            "
            label="Success"
            severity="success"
            label="submit"
            class="p-button-success"
            routerLink="/achievement"
            (click)="userdetail()"
            >Next</a
          >
        </div>
      </div>
    </div>
  </div>
</form>
<!-- <router-outlet></router-outlet> -->
