<p>education works!</p>
<form>
  <h1
    style="
      background-color: rgb(226, 192, 78);
      font-weight: 800;
      font-style: oblique;
      border-radius: 25px;
    "
  >
    Education Work
  </h1>
  <div class="col-12" [formGroup]="UserInfo" (ngSubmit)="userdetail()">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <span *ngIf="CollegeName && CollegeName.invalid && CollegeName.touched"
          >please enter the valid College name</span
        >
        <div class="field col-12 md:col-6">
          <!-- <label htmlFor="firstname2">User Name</label> -->
          <input
            pInputText
            id="Name"
            type="text"
            placeholder="CollegeName"
            type="text"
            formControlName="CollegeName"
          />
        </div>
        <!-- Email -->
        <span *ngIf="DegreeName && DegreeName.invalid && DegreeName.touched"
          >please enter the valid Degree Name</span
        >
        <div class="field col-12 md:col-6">
          <!-- <label htmlFor="lastname2">Email</label> -->
          <input
            pInputText
            id="Degree"
            type="text"
            placeholder="DegreeName "
            formControlName="DegreeName"
          />
        </div>
        <!--  Address-->
        <span *ngIf="CGPA && CGPA.invalid && CGPA.touched"
          >please enter the valid Cgpa</span
        >
        <div class="field col-12">
          <!-- <label htmlFor="address">Address</label> -->
          <input
            pInputTextarea
            id="address"
            rows="4"
            placeholder="CGPA"
            type="text"
            formControlName="CGPA"
          />
        </div>
        <!-- City -->
        <span *ngIf="months && months.invalid && months.touched"
          >please enter the valid Months like 2020-2024</span
        >
        <div class="field col-12 md:col-6">
          <!-- <label htmlFor="city">City</label> -->
          <input
            pInputText
            id="city"
            type="text"
            placeholder="months"
            type="text"
            formControlName="months"
          />
        </div>
        <!-- zip code  -->

        <!--  -->
        <div class="button">
          <a
            style="
              margin-top: 10px;
              background-color: #28a745;
              color: white;
              border: none;
              border-radius: 4px;
              padding: 12px 20px;
              cursor: pointer;
              font-size: 16px;
              transition: background-color 0.3s ease;
            "
            label="Success"
            type="p-button"
            severity="success"
            label="submit"
            class="p-button-success"
            routerLink="/professionalexperience"
            (click)="userdetail()"
            >Previous</a
          >
          <a
            style="
              margin-top: 10px;
              background-color: #28a745;
              color: white;
              border: none;
              border-radius: 4px;
              padding: 12px 20px;
              cursor: pointer;
              font-size: 16px;
              transition: background-color 0.3s ease;
            "
            label="Success"
            severity="success"
            label="submit"
            class="p-button-success"
            routerLink="/project"
            (click)="userdetail()"
            >Next</a
          >
        </div>
      </div>
    </div>
  </div>
</form>
<!-- <router-outlet></router-outlet> -->
